
.transfer-form {
    display: flex;
    justify-content: center;
}
.transfer-form label {
    margin-left: 10px;
}
.transfer-form input {
    min-width: 200px;
    width: 20vw;
}
.transfer-form button {
    min-width: 70px;
    width: 5vw;
    min-height: 35px;
    margin: 10px;
}
.transfer-form input[type=number]::-webkit-inner-spin-button {
    appearance: none;
}

.transfer-contacts {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}