.transfer-form {
    flex: 4 1 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.transfer-form input[type=number]::-webkit-inner-spin-button {
    appearance: none;
}

.transfer-contacts-container {
    overflow: visible;
}
.transfer-contacts {
    width: 100%;
 
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}