:root {
    /* main */
    --main-bg-color: #b7b7b7;
    --main-tx-color: #484848;
    --main-header-color: #0c622f;
    --secundary-main-color: #3fc469;
    --secundary-bg-color: #959595b1;
    --contrast: #000;

    /* components */
    /* header */
    --header-txt-color: #cbf1d9;

    /* inputs */
    --input-bg-color: #b7b7b7;
    --input-bd-color:#384459;
    --input-txt-color: #9aaabe;

    /* tabela */
    --table-head-color:#e9e9e9;
    --table-body-color:#cfcfcf;
    --table-tr-color: #5f6e82;
    --table-tr-hover: #384459;
    --table-tr-child: #242c3b;

    /* CardControllers */
    /* CardNav */
    --nav-card-clr: #1b2531;
    
    --nav-card-bg: #b7b7b7;
    --nav-card-nav: #9aaabe;

    /* CardViewer */
    --card-bg-color: #283142;

    /* btn */
    --bg-btn-color: #ff6b721a;

    
}